.g-body-title
  i.icon-folder-open
  | Visual explorer: #[a(href=`#folder/${folder.id}`)= folder.name()]
.g-body-subtitle
  i.icon-move
  | Click and drag any preview thumbnail to rotate view

.g-interactive-thumbnail-list-container
  ol.g-interactive-thumbnail-list
    each item in items.toArray()
      li
        .g-viewer-area
          if item.get('hasInteractiveThumbnail')
            .g-viewer-widget-wrapper(item-cid=item.cid)
          else
            .g-no-interactive-thumbnail #[i.icon-block] No thumbnail
        .g-item-title-container(title=item.name())
          = item.name()
          span.g-text-fade
        .g-dropdown-menu-container
          .btn-group
            button.btn.btn-default.dropdown-toggle(data-toggle="dropdown")
              | Actions
              i.icon-down-dir
            ul.dropdown-menu(role="menu")
              li(role="presentation")
                a(role="menuitem", href=`#item/${item.id}/pv_glance`) Open with ParaView Glance
              li(role="presentation")
                a(role="menuitem", href=`${pvDesktopUri}?itemId=${item.id}`) Open with ParaView Desktop

.g-page-info-container Showing #{items.length && (items.offset - items.length + 1)} - #{items.offset} of #{folder.get('nItems')} items
.g-paginate-container
